Graphics/Battlers/*
PBS/*
Graphics/Battlers_resized/*
Graphics/CustomBattlers/*
Graphics/Pokemon/FusionIcons/*
Data/SPRITE_CREDS
Data/VERSION
Exported Maps/*
Game.rxproj
Data/Weapons.rxdata
Data/Tilesets.rxdata
Data/System.rxdata
Data/States.rxdata
Data/Skills.rxdata
Data/MapInfos.rxdata
Data/Items.rxdata
Data/Enemies.rxdata
Data/CommonEvents.rxdata
Data/Armors.rxdata
Data/Animations.rxdata
Data/Actors.rxdata
Game.ini
Data/System.rxdata
*.png
*.gif
Graphics/Pictures/Readme.txt
Data/System.rxdata
